body, html {
    font-size: 1em;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #222, #000);
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;

}

form {
    width: 400px;
    background-color: #171717;
    padding: 5px 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 13px #4d4d4d;
}

.format {
    width: 1000px;
    background-color: #171717;
    padding: 5px 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 13px #4d4d4d;
}

h2 {
    text-align: center;
    font-size: 1.4em;
    color: white;
    padding-top: 10px;
}

.boxint {
    box-sizing: border-box;
    padding: 6px 10px;
    margin: auto;
}

input, textarea, select {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 13px #0003;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 6px 8px;
    margin: auto;
    border-radius: 3px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #474747;
    margin-bottom: 6px;
}

textarea {
    resize: vertical;
    max-height: 100px;
    min-height: 80px;
    font-family: sans-serif;

}

label {
    font-size: 0.9em;
    line-height: 2;
    margin: 0px; /* Elimina el margen adicional que puede romper el alineamiento */
}

.checkbox {
    margin: auto;
    height: 10px;
}

.lablelo {
    background-color: transparent;
    color: white;
    border: none;
    box-sizing: border-box;
    padding: 6px 8px;
    margin: auto;
    width: 100%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajusta el espacio entre el checkbox y el texto */
    margin: 10px 0;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 10px; /* Asegura que el tamaño del checkbox sea adecuado */
    height: auto;
}

option {
    background-color: #171717;
}

fieldset {
    border-radius: 6px;
    border: 3px solid #6b6a6a
}

.pap {
    text-align: left;
}

legend {
    padding: 0 5px;
    color: #b8b6b6;
}

a {
    color: #69f;
    text-decoration: none;
}